---
import Layout from '../layouts/common.astro'
---
<Layout title="Blog">
	<!--<h1 class="mt-10 text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
		Blog
	</h1>-->

	<div class="mb-10 p-8 text-center mx-auto max-w-md bg-white border border-gray-200 rounded-2xl shadow-sm flex flex-col">
		<p class="mb-6 text-gray-400 uppercase text-sm">Feb 10 2022</p>
		<h3 class="text-3xl font-semibold text-gray-900">February big update</h3>
		<p class="mt-6 text-gray-500">Today we introduced a new major update ....</p>
	</div>

	<div class="mb-10 p-8 text-center mx-auto max-w-md bg-white border border-gray-200 rounded-2xl shadow-sm flex flex-col">
		<p class="mb-6 text-gray-400 uppercase text-sm">Jan 06 2022</p>
		<h3 class="text-3xl font-semibold text-gray-900">Some news</h3>
		<p class="mt-6 text-gray-500">Today we introduced a new big update ....</p>
	</div>

</Layout>